*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
:root{
  --color-3187ED:#3187ED;
  --color-83878b6e:#83878b56;
  --color-ecebebef:#fffffffb;
  --color-00C6D7:#00C6D7;
  --color-4D4D4D:#4d4d4dda;
}
.gap-10{
  gap:10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}

/* header */

.header-top-strip{
  background-color: var(--color-3187ED);
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  
}
.logo-main{
  width: 90%;
}
.dropdown-toggle{
  width: 110px;
  font-weight: 500px;
  font-size: 14px
}
.dropdown{
  margin-top: 116px;
}
.form-control:focus{
  border-color:var(--color-83878b6e);
  box-shadow: none;

}
.search-icon{
  color: var(--color-3187ED);
  font-size: 24px;
}
.input-group-text{
  background-color: var(--color-ecebebef);
}
.btn-clsfds-drpdwn{
  color:var(--color-4D4D4D)
}
.btn-classifieds{
  background-color: var(--color-00C6D7);
  border: none;
  padding: 11px;
  border-radius: 12px;
  font-weight: 700px;
  font-size: 14px;
}
.menu-text{
  color: var(--color-4D4D4D);
  font-size: 15px;
}

/* header ends */

/* home start */

.main-banner{
  width: 100%;
}
.main-banner-content{
  font-weight: 300;
  width: 50%;
  top: 51%;
  font-size: 43px;
  line-height: 43px;
  left: 44%;
  text-align: left;
}

/* home ends */

/* footer-start */
.footer-section{
  background-color:var(--color-00C6D7);
}

/* footer-ends */