*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
:root{
  --color-3187ED:#3187ED;
  --color-83878b6e:#83878b56;
  --color-ecebebef:#fffffffb;
  --color-00C6D7:#00C6D7;
  --color-4D4D4D:#4d4d4dda;
  --color-000000 :#000000;
  ---color-FFFFFF:#ebe8e8;
  --color-f0ecec :#f0ecec;

  --color-777777:#777777;
  --color-f5f5f7: #f5f5f7;

  --color-131921:#131921;
  --color-3b4149:  #3b4149;
  --color-febd69:#febd69;
  --color-232f2e:#232f2e;
  --color-bf4800:#bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed:#ededed;
 
  --color-1c1c1b:#1c1c1b;
  --color-f2f2f2:#f2f2f2;
}
.gap-10{
  gap:10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}

/* header */

.header-top-strip{
  background-color: var(--color-3187ED);
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  
}
.logo-main{
  width: 90%;
}
.dropdown-toggle{
  width: 110px;
  font-weight: 500px;
  font-size: 14px
}
.dropdown{
  margin-top: 116px;
}
.form-control:focus{
  border-color:var(--color-83878b6e);
  box-shadow: none;

}
.search-icon{
  color: var(--color-3187ED);
  font-size: 24px;
}
.input-group-text{
  background-color: var(--color-ecebebef);
}
.btn-clsfds-drpdwn{
  color:var(--color-4D4D4D)
}
.btn-classifieds{
  background-color: var(--color-00C6D7);
  border: none;
  padding: 11px;
  border-radius: 12px;
  font-weight: 700px;
  font-size: 14px;
}
.menu-text{
  color: var(--color-4D4D4D);
  font-size: 15px;
}

/* header ends */

/* home start */

.main-banner{
  width: 100%;
}
.main-banner-content{
  font-weight: 300;
  width: 50%;
  top: 51%;
  font-size: 43px;
  line-height: 43px;
  left: 44%;
  text-align: left;
}

/* home ends */

/* footer-start */
.footer-section{

  margin-top:0px ;
  font-size: 14px;
  color: var(--color-4D4D4D);
}
.footer-section img{
  margin-left: -20px;
  width:70%;
}
.footer-section h6{
  margin-top: 30px;
  color: var(--color-000000);
}
.footer-section .menu{
  margin-top: 10px
}
.footer-section .contact-txt{
  font-size: 14px;
}
.footer-section .micro img{
  width: 80%;
  margin-left: 10px;
}
.footer-section .txt-num{
  font-size: 12px;
}
.footer-section .btn-light{
  color: var(--color-3187ED);
  border:1px solid var(--color-3187ED);
  padding-left: 20px;
  padding-right: 20px;

}
.footer-section .app-dwld img{
  margin-left: 5px;
  margin-top: 20px;
  width: 110%;
}

/* footer-ends */

/* home-wrapper-2 */
.home-wrapper-2 .head-deal{
  justify-content: space-between;
  font-size: 14px;
}
.home-wrapper-2 .content-prdct{
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400px;
}
.home-wrapper-2 .content-prdct .price{
  color: var(--color-3187ED);
}
.home-wrapper-2 .view-txt{
  color: var(--color-3187ED);
}
/* home-wrapper-2  ends*/

/* home-wrapper-3 start */
.home-wrapper-3{
  background-color: var(--color-3187ED);
  padding-top: 10px;
}
.home-wrapper-3 .email-box{
  padding: 20px;
}
.home-wrapper-3 .sign-up-txt{
  font-weight: 700;
}
.home-wrapper-3 .signup-p{
  font-size: 14px;
  color: var(---color-FFFFFF);
}
.home-wrapper-3 .dot-vector{
  margin-left: -15px;
}
.home-wrapper-3 .btn-subscribe{
  border: 3px solid var(--color-ecebebef);
  
}
.home-wrapper-3 .input-group{
  padding: 10px;
  margin-top: 20px;
}
.home-wrapper-3 .dot-vector-2{
  display: block;
  margin-top: -50px;
  margin-left: 400px;
}



/* home-wrapper-3 ends */

/* home-wrapper-4 starts */
.home-wrapper-4{
  background-color: var(---color-FFFFFF);
}
.back-clr{
  background-color: var(--color-f0ecec);
}
.card-prdct{
  background-color: var(--color-ecebebef);
  border-radius: 12px;
  box-shadow: 1px 1px var();
}
.card-text-p{
  color: var(--color-000000);
  margin-left: 20px;
  font-size: 14px;
  width: 183px;
  margin-top: 10px;
}
.rate-location{
  margin-left: 20px
}
.rate-location .rate{
  font-size: 16px;
  color: var(--color-00C6D7);
}
.rate-location .location{
  margin-left: 60px;
  font-size: 14px;
  color: var(--color-4D4D4D);
}
.prdct-selling-text{
  font-size: 22px;
  margin-top: 30px;
  text-align: center;

}
.arrow-left{
  background-color: var(---color-FFFFFF);
  border-radius: 20px;
  text-align: center;
}
.arrows{
  text-align: center

}
.arw-icon{
  padding: 10px;
  font-size: 30px;
  text-align: center !important;
 align-items: center;
justify-content: center;
}
/* home-wrapper-4 ends */

/*  auth card */

.auth-card {
  padding: 15px;
  background-color: var(--color-00C6D7);
  width:500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-4D4D4Dlor);
}
.auth-card p {
  font-size: 13px;
  color: var(--color-83878b6e);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.signup {
  background-color: var(--color-3187ED);
  color: var(---color-FFFFFF);
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.login-btn{
  background-color: var(---color-FFFFFF);
  color: var(--color-232f2e);
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.signup:hover {
  background-color: var(--color-131921);
  color: white;
}
/*  auth card  ends*/
